.mainGrid{
    width: 100%;
    display: grid;
    grid-template-areas:
    "start end";
    grid-template-columns: 50% 50%;
}

.gridStart{
        grid-area: start;
}

.gridEnd{
        grid-area: end;
}
